# Python Basics: Introduction to Pandas


The main object pandas offers is the pandas dataframe. It offers a wide range of data manipulation
options which we will explore.

The dataframe object itself is a two-dimensional tabular-styled data structure with
labeled axes (rows and columns). Basically, it has three principal
components: data, rows=index and columns.

In [24]:
import pandas as pd

### Create a pandas dataframe

#### By "hand"

In [25]:
dat_num_1 = [2, 3, 4, 5]
dat_num_2 = [32, 55, 4, 51]
dat_str_1 = ['a', 'b', 'c', 9]
dat_num_3 = [32, 55, 4, 51]
dat_str_2 = ['a', 'b', 'c', 10]
dat_list = [dat_num_1, dat_num_2, dat_str_1, dat_num_3, dat_str_2]
col_name = ['col_label_1', 1234, 'col_label_3', 'col_label_4']
index_name = [1, 2, 'word', 'word 2', 5]
dat_frame = pd.DataFrame(dat_list, columns=col_name, index=index_name)

dat_frame

       col_label_1 1234 col_label_3  col_label_4
1                2    3           4            5
2               32   55           4           51
word             a    b           c            9
word 2          32   55           4           51
5                a    b           c           10

In [26]:
dat_append_1 = pd.DataFrame([['A', 'B', 'C', 'D'], [1, 2, 3, 4]], columns=dat_frame.columns)
dat_append_2 = pd.DataFrame([[1, 2, 3, 4]], columns=dat_frame.columns)
dat_concat_1 = pd.DataFrame([['A', 'B', 'C'], [1, 2, 3]])
dat_concat_2 = pd.DataFrame([['A', 'B', 'C', 'D'], [1, 2, 3, 4]], index=['a', 1])

#### From a dictionary

In [27]:
dict_1 = {
    "key_1": [1, 2, 3, 4, 5],
    "key_2": "Mustang",
    "key_3": 1964
}

# default: keys = column names, values = data
# Note: data are of different types
pd.DataFrame(dict_1)

   key_1    key_2  key_3
0      1  Mustang   1964
1      2  Mustang   1964
2      3  Mustang   1964
3      4  Mustang   1964
4      5  Mustang   1964

In [28]:
# with index and different order of columns (column name has to correspond to key names)
pd.DataFrame(dict_1, index=[10, 11, 12, 13, 14], columns=['key_1', 'key_3', 'key_2'])

    key_1  key_3    key_2
10      1   1964  Mustang
11      2   1964  Mustang
12      3   1964  Mustang
13      4   1964  Mustang
14      5   1964  Mustang

#### From a list

In [29]:
data_1 = [2, 3, 4, 5, 6, 7, 8]
data_2 = [0.2, 33, 24, 55, 66, 77, 8]
data_3 = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
data_list = [data_1, data_2, data_3]

# Note: each list corresponds to one row(!)
pd.DataFrame(data_list, columns=['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7'])

    c1  c2  c3  c4  c5  c6 c7
0    2   3   4   5   6   7  8
1  0.2  33  24  55  66  77  8
2    a   b   c   d   e   f  g

### Accessing dataframes

#### Access column and row labels

In [30]:
dat_frame.columns       # return a pandas series
dat_frame.index

Index([1, 2, 'word', 'word 2', 5], dtype='object')

In [31]:
dat_frame.columns[3]    # access elements in the series
dat_frame.index[1]

2

In [32]:
dat_frame.dtypes

col_label_1    object
1234           object
col_label_3    object
col_label_4     int64
dtype: object

#### Access elements in a dataframe by key and label

In [33]:
dat_frame['col_label_3']                                # Select column
dat_frame.col_label_3                                   # Note: Returns column data and row labels

1         4
2         4
word      c
word 2    4
5         c
Name: col_label_3, dtype: object

In [34]:
dat_frame.loc[1]                                        # Select row by label
                                                        # Note: Returns row data and column labels

col_label_1    2
1234           3
col_label_3    4
col_label_4    5
Name: 1, dtype: object

In [35]:
dat_frame[1234]['word']                                 # Select Cell by double key
dat_frame.loc[1, 'col_label_3']                         # Select Cell by loc

4

In [36]:
dat_frame.loc[[2, 'word'], [1234, 'col_label_4']]       # Slicing by row and column keys
dat_frame.loc[:'word 2', :'col_label_3']
dat_frame.loc[:, :'col_label_3']

       col_label_1 1234 col_label_3
1                2    3           4
2               32   55           4
word             a    b           c
word 2          32   55           4
5                a    b           c

#### Access by index

In [37]:
dat_frame.iloc[1, 2]

4

In [38]:
dat_frame.iloc[::2]                                     # See list, for slicing grammar

     col_label_1 1234 col_label_3  col_label_4
1              2    3           4            5
word           a    b           c            9
5              a    b           c           10

### Manipulating dataframes

#### Change axis labels
There are several ways to change labels, here is the best practice

In [39]:
# Using the .rename() method (see documentation)
# Rename columns
dat_frame.rename(columns={'col_label_1': 'new_label_1', 1234: 'new_label_2'})   # returns a new dataframe copy
dat_frame.rename(columns={1234: 'new_label_2'}, inplace=True)                   # overwrites old dataframe
                                                                                # Note: columns = ... ; also takes functions

In [40]:
# Rename rows
dat_frame.rename(index={'word': 'new_index_1', 5: 1234})
dat_frame.rename(index={5: 1234}, inplace=True)

In [41]:
# Using the .set_axis() method (see documentation)
# Rename columns, axis=1 or axis='column'
dat_frame.set_axis(['a', 'b', 'c', 'd'], axis=1)
dat_frame.set_axis(['aa', 'bb', 'cc', 'dd'], axis='columns', inplace=True)

In [42]:
# Rename rows, axis=0 or axis='index'
dat_frame.set_axis([10, 20, 30, 40, 50], axis=0)
dat_frame.set_axis([100, 200, 300, 400, 500], axis='index', inplace=True)

In [43]:
# Rename index with .set_index
dat_frame.set_index('col_label_3', inplace=True)        # transform a column into an index
dat_frame.set_index('col_label_3')                      # the data column doesn't exist afterwards

KeyError: "None of ['col_label_3'] are in the columns"

In [ ]:
# Transform index into a column
dat_frame['transformed_index'] = dat_frame.index        # the index itself is still in effect

#### Change dataframe values

In [ ]:
# Direct assignment with replacement, if positions are known
dat_frame.loc[2, 1234] = 9999                   # by key
dat_frame.loc[[1, 2], 1234] = [333, 444]
dat_frame.iloc[:, 3] = [1, 2, 3, 4, 5]          # by index

In [ ]:
# With .replace() method, position are not required to be known
dat_frame.replace(5, 'replaced 5')
dat_frame.replace('c', 'replaced c', inplace=True)          # replaces all(!) values that match
dat_frame.replace(['a', 'b', 'c', 'd'], 'all strings')      # replace a set of values with a single expression

dat_frame.replace([4, 4], 5555)                             # doesn't work

In [ ]:
# replace a set of values with another set of equal length
dat_frame.replace(to_replace=['a', 'b', 'c', 'd'], value=[111, 222, 333, 444])

#### Add columns, rows, dataframes

In [ ]:
# Add columns
dat_frame['new_unused_column_name'] = [1, 2, 3, 4, 5]       # setting with enlargement, new column is always at the end
                                                            # Note: Overwrites old dataframe

In [ ]:
dat_frame.insert(2, 'new_col', [11, 22, 33, 44, 55])        # with .insert(): index position, column name, values
                                                            # Note: Overwrites old dataframe

In [ ]:
dat_frame.assign(address=['D', 'B', 'C', 'P', 'H'])         # similar to setting with enlargement
                                                            # Note: Returns old dataframe with new column, no overwrite

In [ ]:
dat_frame['doubled'] = dat_frame['col_label_4'] + \
                       dat_frame['col_label_4']             # creation by adding two columns

In [ ]:
# Add row
dat_frame.loc[3] = ['a', 'b', 'c', 'd']                    # setting with enlargement, new row is always at the end

dat_frame.append(dat_append_1, ignore_index=True)          # with .append() method, overwrite old index with new
dat_frame.append(dat_append_2)                             # keep old index and start with new counter

# See other methods: .concat(), .merge(), etc.

#### Delete columns and rows

In [ ]:
# Delete column
dat_frame.drop(columns=['col_label_1', 'col_label_3'], inplace=False)       # drop by label
dat_frame.drop(dat_frame.columns[2], axis=1)                                # drop by index

In [ ]:
# Delete row
dat_frame.drop(index=['word'], inplace=True)                                # drop by label
dat_frame.drop(dat_frame.index[2])                                          # drop by index

# See: .pop() for other methods
# Note: Dropping columns, rows is the same like slicing a dataframe for you own needs